In [1]:
import numpy as np
import pandas as pd

In [20]:
medDoc = pd.read_csv('data/medicalDoctors.csv')
pharm = pd.read_csv('data/pharmacists.csv')
lifeExp = pd.read_csv('data/ofHaleInLifeExpectancy.csv')

# Checking null values
print(medDoc.isnull().sum(), '\n')
print(pharm.isnull().sum(), '\n')
print(lifeExp.isnull().sum(), '\n')

Location         0
Period           0
Indicator        0
First Tooltip    0
dtype: int64

Location         0
Period           0
Indicator        0
First Tooltip    0
dtype: int64

Location                        0
Period                          0
Indicator                       0
Dim1                            0
Hale Expectency                 0
Life expectany                  0
Unnamed: 6                      0
% OF HALE in life expectancy    0
dtype: int64

In [14]:
medDoc.head()

      Location  Period                     Indicator  First Tooltip
0  Afghanistan    2016  Medical doctors (per 10,000)           2.78
1  Afghanistan    2015  Medical doctors (per 10,000)           2.85
2  Afghanistan    2014  Medical doctors (per 10,000)           2.98
3  Afghanistan    2013  Medical doctors (per 10,000)           2.85
4  Afghanistan    2012  Medical doctors (per 10,000)           2.41

In [15]:
pharm.head()

      Location  Period                  Indicator  First Tooltip
0  Afghanistan    2016  Pharmacists  (per 10,000)           0.47
1  Afghanistan    2015  Pharmacists  (per 10,000)           0.50
2  Afghanistan    2014  Pharmacists  (per 10,000)           0.51
3  Afghanistan    2012  Pharmacists  (per 10,000)           0.27
4  Afghanistan    2011  Pharmacists  (per 10,000)           0.28

In [21]:
lifeExp.head()

,Location,Period,Indicator,Dim1,Hale Expectency,Life expectany,Unnamed: 6,% OF HALE in life expectancy
0,Africa,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,56.04,64.49,86.897193,87
1,Africa,2019,Healthy life expectancy (HALE) at birth (years),Male,55.00,62.37,88.183422,88
2,Africa,2019,Healthy life expectancy (HALE) at birth (years),Female,57.09,66.65,85.656414,86
3,Africa,2015,Healthy life expectancy (HALE) at birth (years),Both sexes,54.42,62.56,86.988491,87
4,Africa,2015,Healthy life expectancy (HALE) at birth (years),Male,53.38,60.47,88.275178,88
...,...,...,...,...,...,...,...,...
67,Western Pacific,2010,Healthy life expectancy (HALE) at birth (years),Male,65.36,72.52,90.126862,90
68,Western Pacific,2010,Healthy life expectancy (HALE) at birth (years),Female,68.79,78.75,87.352381,87
69,Western Pacific,2000,Healthy life expectancy (HALE) at birth (years),Both sexes,64.27,72.42,88.746203,89
70,Western Pacific,2000,Healthy life expectancy (HALE) at birth (years),Male,62.91,69.80,90.128940,90
71,Western Pacific,2000,Healthy life expectancy (HALE) at birth (years),Female,65.78,75.33,87.322448,87

In [13]:
medProf = medDoc.merge(pharm, on=['Location', 'Period'], how='inner')
medProf['Tooltip_xy'] = medProf['First Tooltip_x'] + medProf['First Tooltip_y']
medProf.head()

,Location,Period,Indicator_x,First Tooltip_x,Indicator_y,First Tooltip_y,Tooltip_xy
0,Afghanistan,2016,"Medical doctors (per 10,000)",2.78,"Pharmacists (per 10,000)",0.470,3.250
1,Afghanistan,2015,"Medical doctors (per 10,000)",2.85,"Pharmacists (per 10,000)",0.500,3.350
2,Afghanistan,2014,"Medical doctors (per 10,000)",2.98,"Pharmacists (per 10,000)",0.510,3.490
3,Afghanistan,2012,"Medical doctors (per 10,000)",2.41,"Pharmacists (per 10,000)",0.270,2.680
4,Afghanistan,2011,"Medical doctors (per 10,000)",2.52,"Pharmacists (per 10,000)",0.280,2.800
...,...,...,...,...,...,...,...
1671,Zimbabwe,2010,"Medical doctors (per 10,000)",1.27,"Pharmacists (per 10,000)",0.043,1.313
1672,Zimbabwe,2009,"Medical doctors (per 10,000)",1.21,"Pharmacists (per 10,000)",0.540,1.750
1673,Zimbabwe,2004,"Medical doctors (per 10,000)",1.74,"Pharmacists (per 10,000)",0.500,2.240
1674,Zimbabwe,1995,"Medical doctors (per 10,000)",1.43,"Pharmacists (per 10,000)",0.440,1.870
1675,Zimbabwe,1990,"Medical doctors (per 10,000)",1.27,"Pharmacists (per 10,000)",0.330,1.600

In [27]:
medDoc['Location'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica',
       'Côte d’Ivoire', 'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'The former Yugoslav Republic of Macedonia',
       'Romania', 'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain',
       'Sri Lanka', 'Sudan', 'Sudan (until 2011)', 'Suriname', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [28]:
medDoc['Location'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica',
       'Côte d’Ivoire', 'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'The former Yugoslav Republic of Macedonia',
       'Romania', 'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain',
       'Sri Lanka', 'Sudan', 'Sudan (until 2011)', 'Suriname', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)